<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Usuário</title>
</head>
<body>
    <form method="POST">
        Nome:<input type="text" name="txtNome" placeholder="Nome"><br>
        Email:<input type="email" name="txtEmail" placeholder="Email"><br>
        Senha:<input type="password" name="txtSenha" placeholder="Senha"><br>
        Foto:<input type="file" name="txtFoto"><br>
        <input type="submit" name="Adicionar">
    </form>
</body>
</html>