<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <style>
        table,td,tr{
            border: 1px solid black;
            
        }
        th{
            font-weight: bolder;
        }
        td,th{
            padding: .5rem;

        }
        li a{
            color: purple;
            

        }
    </style>
</head>
<body>
    <h1>Usuários</h1>
    <ul>
        <li><a href="/add">Adiciona</a></li>
        <li><a href="/">Listar</a></li>
       
    </ul>
    <br>