<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        <% for(usuario of usuarios){ %>
        <tr>
            <td><%=usuario.nome %></td>
            <td><%=usuario.email %></td>
        </tr>
        <% } %>
    </table>
    
</body>
</html>